*{
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #b9d0c9;
}

.title{
    padding: 30px;
    font-family: 'Helvetica', 'Times';
}

p{
    font-size: 20px;
}

.homeButton{
    font-size: 35px;
}

.highlight{
    border: 10px dotted #3ccfa3;
    padding: 10px;
    margin: 20px;
    display:inline-block;
    background-color: #d5f7ee;
}

.subtitle{
    margin: 15px;
    font-size: 35px;
}

img{
    display: block;
    width: 75%;
    margin: 0 auto;
    border: 10px solid #3ccfa3;
}

a{
    text-decoration: none;
}

a:visited{
    color:#3ccfa3;
}

.list{
    display: inline-block;
    padding: 20px;
    max-width: 75%;
    text-align: left;
}

.list li{
    padding: 10px;
    font-size: 20px;
}

.list li a{
    font-size: 25px;
}

.contentPanel{
    background-color: #f0fff0;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 10px dashed #a0d4c4;
    text-align: center;
    max-width: fit-content;
}